.head_point_wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
  width: 100vw;
  height: 100vh;
  .mask{
    position:absolute;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
  }
}

.head_point_cnt {
  position: absolute;
  top: 42%;
  left: 50%;
  z-index: 6;
  width: 50vw;
  height: 30vh;
  text-align: center;
  transition: all 1.25s ease-in-out 0.25s;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .pic {
    position: relative;
    margin: 0 auto 0.25rem;
    width: 2.04rem;
    height: 2.04rem;
    border-radius: 50%;
    animation: headFadein 250ms ease-in 1, headRotate 1200ms ease-in-out 1;

    transform-style: preserve-3d;
    img {
      display: block;
      width: 2.04rem;
      height: 2.04rem;
      border: 1px solid rgba(255,255,255,0.1);
      border-radius: 50%;
    }
    .front{
      position:absolute;
      top: 0;
      left: 0;
      z-index: 4;
      border-radius: 50%;
      transform: translateZ(1px);
    }
    .middle{
      position:absolute;
      top: 0;
      left: 0;
      z-index: 3;
      transform: translateZ(1px);
      &.m1{
        transform: translateZ(1px);
      }
      &.m2{
        transform: translateZ(2px);
      }
      &.m3{
        transform: translateZ(3px);
      }
      &.m4{
        transform: translateZ(4px);
      }
      &.m5{
        transform: translateZ(5px);
      }
      &.m6{
        transform: translateZ(6px);
      }
    }
    .back{
      transform: translateZ(-1px);
    }
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      display: block;
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 50%;
      background: linear-gradient(270deg, #e14e58, #3a2462, #5050cd);
      // background-image: url(../../static/avatar_point_light.png);
      background-position: center;
      background-size: 100% auto;
      background-repeat: no-repeat;
      content: "";
      filter: blur(18px);
      transition: 2s ease-in-out;
      transform-origin: 50%;
      animation: headGlow 4s 2;
    }
  }
  .name {
    margin-bottom: 0.22rem;
  }
  .name,
  .desc {
    color: #FFF;
    font-size: 0.28rem;
    line-height: 0.4rem;
  }
  .desc {
    span {
      display: inline-block;
      min-width: 15vw;
      color: rgba(150, 79, 69, 1);
      font-weight: 600;
    }
  }
}

.head_point_exit{
  opacity: 0;
  transition: opacity .75s ease-in;
  .head_point_cnt{
    display: none;
  }
}


@keyframes headFadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.50;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes headRotate {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(-10deg);
  }
  75% {
    transform: rotateY(10deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes headGlow {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.8);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}


//enter是入场前的刹那（点击按钮），appear指页面第一次加载前的一刹那（自动）
.headpoint_desc-enter, .headpoint_desc-appear {
  opacity: 0;
}

//入场动画执行完毕后，保持状态
.headpoint_desc-enter-done {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}